cache
.build/**
binary.modified_timestamps
binary/**
build.log
chroot.files
chroot.packages.install
chroot.packages.live
chroot/**
config/binary
config/bootstrap
config/chroot
config/common
config/source
*.contents
*.files
*.iso
*.iso.zsync
*.packages
*.debian.contents
*.debian.tar
*.live.contents
*.live.tar
source/**
